*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.nav_introduction{
    margin-top: 15px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
  
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: rgb(248, 253, 253);
}
.dsa{
    margin-left: 20px;
    font-size: 20px;
}
.intro{
    margin-right: 20px;
    font-size: 15px;
}
.main_information_box{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.acessing_element{
    padding-left: 50px;
    padding-right: 50px;
}
.acessing_element{
    padding-left: 50px;
    padding-right: 50px;
}
.acessing_element h2{
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 15px;
}
.common_horizonatl_line{
    width: 55%;
    height: 5px;
    background-color: #713f12;
    margin-bottom: 10px;
}
.acessing_element p{
    font-weight: 300;
    line-height: 25px;
}
.special_declartion{
    background-color: black;
    margin-top: 10px;
    margin-bottom: 15px;
}
.special_declartion p{
    padding: 10px;
    color: white;
    padding-left: 25px;
    
}